---
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target="#sidebar">
    {% include nav.html %}
    
    {% include header.html %}
    
    {% assign sorted_welcome = site.welcome | sort:"rank" %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section id="1" class="content-section contentWithFadeIn" style="opacity: 0;">
                    <ul id="categories" class="nav nav-tabs">
                        <li class="active">
                            <a data-target="#galleryAll" data-toggle="tab">Todos</a>
                        </li>
                        {% for category in site.categories %}
                            {% capture category_name %}{{ category | first }}{% endcapture %}
                            <li class="">
                                <a data-target="#gallery{{ category_name }}" data-toggle="tab">{{ category_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div id="galleryAll">
                        <div class="justifiedGallery">
                            {% for post in site.posts %}
                                <a href="{{ post.url | append: "index.html" }}">
                                    <img alt="{{post.title}}" src="{{post.image}}"/>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    {% for category in site.categories %}
                        {% capture category_name %}{{ category | first }}{% endcapture %}
                        <div id="gallery{{ category_name}}">
                            <div class="justifiedGallery">
                                    {% for post in site.categories[category_name] %}
                                        <a href="{{ post.url | append: "index.html" }}">
                                            <img alt="{{post.title}}" src="{{post.image}}"/>
                                        </a>
                                    {% endfor %}
                                </div>                            
                        </div>
                    {% endfor %}
                </section>
                {% for item in sorted_welcome %}
                    <section id="{{item.rank}}" class="content-section text-center contentWithFadeIn" style="opacity: 0">
                        <h2>{{item.title}}</h2>
                        {{item.content}}
                        <hr/>
                    </section>
                {% endfor %}
            </div>
            <div id="sidebar" class="col-md-3 hidden-xs hidden-sm">
                <ul id="sidebar-nav" class="nav nav-pills nav-stacked" role="tablist">
                    <li><a class="page-scroll" href="#1">Galeria</a></li>
                    {% for item in sorted_welcome %}
                        <li><a class="page-scroll" href="#{{item.rank}}">{{item.title}}</a></li>
                    {% endfor %}
                    <li><a class="page-scroll" href="#page-top">Voltar ao topo</a></li>
                </ul>            
            </div>
        </div>
    </div>
    
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
