    <!-- Intro Header -->
    <header class="intro">
            <div class="cb-slideshow">
            	<span>Image 01</span>
            	<span>Image 02</span>
            	<span>Image 03</span>
                <span>Image 04</span>
            	<span>Image 05</span>
            	<span>Image 06</span>
            	<span>Image 07</span>
            	<span>Image 08</span>
            	<span>Image 09</span>
            	<span>Image 10</span>
            	<span>Image 11</span>
            	<span>Image 12</span>
            	<span>Image 13</span>
            	<span>Image 14</span>
            	<span>Image 15</span>
            	<span>Image 16</span>
            </div>
        <div class="intro-body">
            <div class="container">
                <div class="row fadeIn">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">{{ site.description }}<br>
                        <a href="#1" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
