---
images:
  - alt: Ganso
    src: ./img/ganso_thumb.jpg
    fullsrc: ./img/ganso.jpg
    desc: Modelo de John Montroll. A partir (cada um) de um quadrado de papel vegetal.
    category: Aves
  - alt: Hercules Beetle
    src: ./img/hercul_thumb.jpg
    fullsrc: ./img/hercul.jpg
    desc: Modelo de Satoshi Kamiya. A partir de um quadrado de papel foil.
    category: Insectos
  - alt: True Woven Dodecahedron
    src: ./img/hercul_thumb.jpg
    fullsrc: ./img/hercul.jpg
    desc: Modelo de David Brill. A partir de 6 retângulos de papel colorido.
    category: Geométricos
  - alt: Estrela
    src: ./img/estrela_thumb.jpg
    fullsrc: ./img/estrela.jpg
    desc: Modelo de Robert Lang. A partir de um quadrado de papel colorido.
    category: Geométricos
  - alt: Polvo
    src: ./img/polvo_thumb.jpg
    fullsrc: ./img/polvo.jpg
    desc: Modelo de Peter Engel. A partir de um quadrado de papel foil.
    category: Peixes
  - alt: Tubarão
    src: ./img/tubar_thumb.jpg
    fullsrc: ./img/tubar.jpg
    desc: Modelo de Robert Lang. A partir de um quadrado de papel Canson recorrendo a wet folding.
    category: Peixes
  - alt: Caracol
    src: ./img/caracol_thumb.jpg
    fullsrc: ./img/caracol.jpg
    desc: Pode encontrar o diagrama para este modelo neste site.
    category: Animais
  - alt: Melro
    src: ./img/melro_thumb.jpg
    fullsrc: ./img/melro.jpg
    desc: Pode encontrar o diagrama para este modelo neste site.
    category: Aves
  - alt: Tulipas
    src: ./img/tulipas_thumb.jpg
    fullsrc: ./img/tulipas.jpg
    desc: Pode encontrar o diagrama para este modelo neste site.
    category: Flores

---


<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target="#sidebar">
    {% include nav.html %}

    <div class="container" style="height:100%">
        <div class="row">
            <div class="col-xs-12">
                <section id="galeria" class="content-section text-center" >
                    {% for image in page.images %}
                        <img src="{{image.src}}" alt="{{image.alt}}" data-desc="{{image.desc}}" data-category="{{image.category}}" data-fullsrc="{{image.fullsrc}}"></img>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include js.html %}
    {% include js-galereya.html %}
    </body>
</html>
