<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target="#sidebar">
    {% include nav.html %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section class="content-section text-center fadeInFast diagrama-imgs">

                    <h2>{{ page.title }}</h2>
                    {{ content }}
                    {% if page.youtubeId %}
                        <div class="row">
                            {% include youtubePlayer.html id=page.youtubeId %}
                        </div>
                    {% endif %}
                    {% if page.previous.url %}
                        <a href="{{page.previous.url}}" class="btn btn-default">Anterior</a>
                    {% endif %}
                    <a href="{{ "/index.html#1" | prepend: site.url }}" class="btn btn-default">Voltar</a>
                    {% if page.next.url %}
                        <a href="{{page.next.url}}" class="btn btn-default">Próximo</a>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>

    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
